<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <form method="POST">
                {% csrf_token %}
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="">Phone</label>
                <input type="text" name="phone" class="form-control" id="phone">
              </div>

              <div class="form-group">
                <label for="">About You</label>
                <textarea  name="summary" class="form-control" id="summary" rows="3"></textarea>
              </div>

               <div class="form-group">
                <label for="">Degree</label>
                <input type="text" name="degree" class="form-control" id="degree">
              </div>
                  <div class="form-group">
                <label for="">School</label>
                <input type="text" name="school" class="form-control" id="school">
              </div>
                   <div class="form-group">
                <label for="">University</label>
                <input type="text" name="university" class="form-control" id="university">
              </div>

                <div class="form-group">
                <label for="">Work Experience</label>
                  <textarea  name="previous_work" class="form-control" id="previous_work" rows="3"></textarea>
              </div>

                  <div class="form-group">
                <label for="">Skills</label>
                    <textarea  name="skills" class="form-control" id="skills" rows="3"></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>


</body>
</html>